
/* =================== CABEÇALHO (HEADER) =================== */

header {
    background-color: var(--fundo-primario);
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.container {
    width: 90%;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* * Estilização do Logo "InovaTech"*/
.logo {
    color: var(--cor-texto);
    text-decoration: underline ;
    font-size: 2rem; 
    position: relative; 
    transition: color 0.3s ease;
    font-family: var(--H1-family); 
    font-weight: var(--H1-weight); 
}
.logo:hover {
    color: var(--acento-claro);
}


/* * Estilização dos links de navegação*/
nav a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;
    transition: color 0.3s ease;
    font-weight: var(--corpo-weight);
}
nav a:hover {
    color: var(--acento-claro);
}
