/* =================== PRIMEIRO BLOCO DA PÁGINA INICIAL =================== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 3rem;
}

.container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: var(--cor-texto);
}

.pitch{
    text-align: center;
    margin: 4rem 0;
    /* padding: 1rem; */
}
.pitch h1{
    font-weight: var(--H1-weight);
    font-family: var(--H1-family);
    font-size: 3rem;
    text-decoration: var(--H1-decoration);
}

.pitch-content{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    gap: 1rem;
    align-items: center;
}

.pitch-content span{
    color: var(--acento-claro);
    text-decoration-color: var(--acento-claro);
    text-decoration: var(--H1-decoration);
}

.pitch-content p{
    font-size: 1.5rem;
}

.pitch-content a{
    background-color: var(--marca-primaria);
    color : var(--cor-texto);
    padding: 1rem 2.5rem;
    border-radius: 4rem;
}

/* =================== SEGUNDO BLOCO DA PÁGINA INICIAL =================== */

.descricao{
    background-image: url(../../img/texto-home.svg);
    background-size: cover;
    background-position: center;
    min-height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--H2-family);
    color: var(--cor-texto);
    font-size:  1.5rem;
}

.descricao-content strong{
    color: var(--acento-claro);
}
.descricao-content h2{
    text-align: center;
    font-weight: var(--H2-weight);
}