main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 90%;
    color: var(--cor-texto);
}

.pitch{
    text-align: center;
    margin: 4rem 0;
    /* padding: 1rem; */
}
.pitch h1{
    font-weight: var(--H1-weight);
    font-family: var(--H1-family);
    font-size: 3rem;
    text-decoration: var(--H1-decoration);
}

.pitch-content{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    gap: 1rem;
    align-items: center;
}

.pitch-content span{
    color: var(--acento-claro);
    text-decoration-color: var(--acento-claro);
    text-decoration: var(--H1-decoration);
}

.pitch-content p{
    font-size: 1.5rem;
}

.pitch-content a{
    background-color: var(--marca-primaria);
    color : var(--cor-texto);
    padding: 1rem 2.5rem;
    border-radius: 4rem;
}