/* =================== PRIMEIRO BLOCO DA PÁGINA INICIAL =================== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    gap: 3rem;
}


.container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: var(--cor-texto);
}

/* =================== CONTEÚDO PRINCIPAL (MAIN) =================== */

.container-main img {
    max-width: 100%;
    height: auto;
    @media (max-width: 1024px) {
        width: 100%;
    }
    @media (max-width: 768px) {
        display: none;
    }
}


@media (max-width: 1024px) {
    .container-main {
        flex-direction: column-reverse;
        gap: 3rem; 
    }
}

.pitch{
    text-align: center;
    margin: 4rem 0;
}
.pitch h1{
    font-weight: var(--H1-weight);
    font-family: var(--H1-family);
    font-size: 3rem;
    text-decoration: var(--H1-decoration);
}

.pitch-content{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    gap: 1rem;
    align-items: center;
}

.pitch-content span{
    color: var(--acento-claro);
    text-decoration-color: var(--acento-claro);
    text-decoration: var(--H1-decoration);
}

.pitch-content p{
    font-size: 1.5rem;
}

.pitch-content a{
    background-color: var(--marca-primaria);
    color : var(--cor-texto);
    font-weight: 500;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    @media (max-width: 1024px) {
        padding: 1.5rem 4rem;
        font-size: 1.2rem;
    }
}

/* =================== SEGUNDO BLOCO DA PÁGINA INICIAL =================== */

.descricao{
    background-image: url(../../img/texto-home.svg);
    background-size: cover;
    background-position: center;
    min-height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        background-image: none;
        flex-direction: column;
        gap:5rem;
        /* padding: 2rem 0; */
    }
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.descricao-content{
    width: 90%;
    /* max-width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--H2-family);
    color: var(--cor-texto);
    font-size:  1.5rem;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.descricao img{
    display: none;
    @media (max-width: 1024px) {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

.descricao-content strong{
    color: var(--acento-claro);
}
.descricao-content h2{
    text-align: center;
    font-weight: var(--H2-weight);
}