<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InovaTech - Moldando o Amanhã</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/contatos/contatos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Orbitron:wght@800&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <div class="container">
            <div class="menu-mobile">
                <a id="botao-menu" class="menu-icon">☰</a>
                <div id="navbar" class="navbar-mobile oculto">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Quem Somos</a></li>
                        <li><a href="#">Contatos</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Serviços</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="logo">InovaTech</a>
            <nav>
                <a href="#">Home</a>
                <a href="#">Quem Somos</a>
                <a href="#">Contatos</a>
                <a href="#">Parceiros</a>
                <a href="#">Serviços</a>
            </nav>
            <a href="#" class="logo-mobile">InT</a>
        </div>
    </header>

    <main>
        <div class="container-texto">
            <h1>⠀⠀⠀Estou à disposição para uma conversa</h1>
            <h2>Pronto para encontrar a melhor<br>solução? Contate nossa equipe e<br>vamos construir isso juntos.</h2>
        </div>

        <form id="contact-form">

            <div class="container-contato">
                <div class="nome-email">
                    <div class="nome">
                        <label for="Nome">Qual o seu nome?</label>
                        <input type="text" id="nome" name="Nome" placeholder="Nome" required>
                    </div>
                    <div class="email">
                        <label for="Email">Qual seu e-mail?</label>
                        <input type="email" id="email" name="Email" placeholder="Email" required>
                    </div>
                </div>
                
                <div class="cargo-telefone">
                    <div class="cargo">
                        <label for="cargo-select">Qual o seu cargo?</label>
                        <select id="cargo-select" name="Cargo">
                            <option value="" disabled selected>Cargo</option>
                            <option value="CEO/Sócio/Diretor">CEO/Sócio/Diretor</option>
                            <option value="Gerente/Coordenador">Gerente/Coordenador</option>
                            <option value="Analista">Analista</option>
                            <option value="Professor/Área da Educação">Professor/Área da Educação</option>
                            <option value="Estudante/Estagiário">Estudante/Estagiário</option>
                            <option value="Outro">Outro Cargo</option>
                        </select>
                    </div>
                    <div class="onde-conheceu">
                        <label for="conheceu-select">Por onde nos conheceu</label>
                        <select id="conheceu-select" name="Fonte">
                            <option value="" disabled selected>...</option>
                            <option value="Anúncios do Google">Anúncios do Google</option>
                            <option value="Mídias Sociais">Mídias Sociais</option>
                            <option value="Indicação">Indicação</option>
                            <option value="Eventos">Eventos</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>
                    <div class="telefone">
                        <label for="telefone">Qual o seu telefone?</label>
                        <input type="tel" id="telefone" name="Telefone" placeholder="Telefone">
                    </div>
                </div>
                
                <div class="mensagem">
                    <label for="mensagem">Nos conte um pouco sobre sua necessidade</label>
                    <textarea id="mensagem" name="Mensagem" placeholder="Mensagem" rows="5"></textarea>
                </div>
                
                <button type="submit">Enviar</button>

                <p id="form-status"></p>

            </div>
        </form>

        <h1>⠀⠀⠀Acesse nossas mídias sociais!</h1>
        <div class="midias-sociais">
            <div class="rede-social">
                <a href="https://www.whatsapp.com/?lang=pt\" target="_blank" rel="noopener noreferrer">
                    <img src="../static/img/midias-sociais/whatsapp.svg" alt="Whatsapp">
                </a>
                <a href="https://www.whatsapp.com/?lang=pt\" target="_blank" rel="noopener noreferrer">WhatsApp</a>
            </div>
            <div class="rede-social">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <img src="../static/img/midias-sociais/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
            <div class="rede-social">
                <a href="mailto:" target="_blank" rel="noopener noreferrer">
                    <img src="../static/img/midias-sociais/envelope.svg" alt="Email">
                </a>
                <a href="mailto:" target="_blank" rel="noopener noreferrer">Email</a>
            </div>
            <div class="rede-social">
                <a href="https://www.linkedin.com/feed/">
                    <img src="../static/img/midias-sociais/linkedin-original.svg" alt="Linkedin">
                </a>
                <a href="https://www.linkedin.com/feed/">Linkedin</a>
            </div>
        </div>
    </main>


    <footer>
        <div class="container-footer-main">
            <div class="footer-column">
                <h4><a href="#">Contatos</a></h4>
                <p>Phone: +55 41 99456 6789</p>
                <p>Email: inova.tech@outlook.com</p>
                <p>Avenida da Orcstra, Bairro das Gamification - DF</p>
            </div>
            
            <div class="footer-column">
                <h4>Menu</h4>
                <ul>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Quem Somos</a></li>
                    <li><a href="#">Parceiros</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h4><a href="#">InovaTech</a></h4>
                <p>Criatividade e tecnologia. Resultados e evolução.</p>
            </div>
        </div>
        
        <div class="footer-sub">
            <p>© Trainne Orc'estra 2025. All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/app/menu.js" defer></script>
    <script src="../static/app/formulario.js"></script>
</body>
</html>