*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-image: var(--fundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    overflow-x: hidden;
}