@import url(./home_page/home_page.css);


:root{
    --fundo-primario: #0C0B16;
    --fundo-secundaria: #1A162B;
    --marca-primaria: #4B3FA3;
    --marca-secudaria :#7B6CF6;
    --acento-claro: #8DD6FF;
    --cor-texto: #ECEBF3;
    
    --fundo: url(../img/Desktop.svg);
    --padding-main: 8rem 0;

    --H1-family: 'Orbitron', sans-serif;
    --H1-decoration: underline ;
    --H1-weight: 800;

    --H2-family: 'Inter', sans-serif;
    --H2-weight: 500;

    --corpo-family: 'Inter', sans-serif;
    --corpo-weight: 400;
}


body {
    background-image: var(--fundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

    
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    overflow-x: hidden;
}

/* =================== CABEÇALHO (HEADER) =================== */

header {
    background-color: var(--fundo-primario);
    width: 100%;
    padding: 1.25rem 0;
    font-family: 'Inter', sans-serif;
    position: fixed;
    z-index: 1000;
}
header .menu-mobile {
    display: none;
}

header .menu-icon {
    display: none;
}
header .menu-icon:hover {
    color: var(--acento-claro);
}

.oculto {
    display: inline;
}

header .navbar-mobile {
    display: none;
    position: fixed;
    background-color: #090810;
    left: 0;
    top: 0;
    height: 1000vh;
    width: 9.5rem;
    z-index: 1001;
}

@media (max-width: 1024px) {
    header .menu-mobile {
    display: inline;
    }
    header .menu-icon{
        display: inline;
        text-decoration: none;
        color: var(--cor-texto);
        font-size: 2rem;
        transition: color 0.3s ease;
        position: relative;
        z-index: 1002;
    }
}

header .navbar-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 1rem;
    gap: 2rem;
    
}

header .navbar-mobile ul li a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}




.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilização do Logo "InovaTech"*/
.logo {
    color: var(--cor-texto);
    text-decoration: var(--H1-decoration) ;
    font-size: 2rem; 
    transition: color 0.3s ease;
    font-family: var(--H1-family); 
    font-weight: var(--H1-weight); 
    @media (max-width: 768px) {
        display: none;
    }
}
.logo:hover {
    color: var(--acento-claro);
}

header .logo-mobile {
    display: none;
    @media (max-width: 768px) {
        display: inline;
        color: var(--cor-texto);
        text-decoration: var(--H1-decoration) ;
        font-weight: var(--H1-weight);
        font-family: var(--H1-family);
        font-size: 3rem;
        transition: color 0.3s ease;
    }
    &:hover {
        color: var(--acento-claro);
    }
}

/* * Estilização dos links de navegação*/
nav {
    @media (max-width: 1024px) {
        display: none;
    }
}

nav a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;
    transition: color 0.3s ease;
    font-weight: var(--corpo-weight);
}
nav a:hover {
    color: var(--acento-claro);
}


/* =================== RODAPÉ (FOOTER) =================== */

footer {
    background-color: var(--fundo-primario);
    color: var(--cor-texto);
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--acento-claro);
}

.container-footer-main {
    width: 80%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-footer-main h4 {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
} 

.footer-column p{
    padding-bottom: .5rem;
}

.footer-column ul{
    list-style: none;
}


.footer-column li{
    margin-bottom: .5rem;
    font-weight: var(--H2-weight);

}

.footer-column a{
    list-style: none;
    text-decoration: none;
    color: var(--cor-texto);
}

.footer-sub{
    background-color: #090810;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    font-size: 0.875rem;
}