@import url(./home_page/home_page.css);


:root{
    --fundo-primario: #0C0B16;
    --fundo-secundaria: #1A162B;
    --marca-primaria: #4B3FA3;
    --marca-secudaria :#7B6CF6;
    --acento-claro: #8DD6FF;
    --cor-texto: #ECEBF3;

    --fundo: url(../img/Desktop.svg);

    --H1-family: 'Orbitron', sans-serif;
    --H1-decoration: underline ;
    --H1-weight: 800;

    --H2-family: 'Inter', sans-serif;
    --H2-weight: 500;

    --corpo-family: 'Inter', sans-serif;
    --corpo-weight: 400;
}


body {
    background-image: var(--fundo);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

    
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    overflow-x: hidden;
}

/* =================== CABEÇALHO (HEADER) =================== */

header {
    background-color: var(--fundo-primario);
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilização do Logo "InovaTech"*/
.logo {
    color: var(--cor-texto);
    text-decoration: var(--H1-decoration) ;
    font-size: 2rem; 
    position: relative; 
    transition: color 0.3s ease;
    font-family: var(--H1-family); 
    font-weight: var(--H1-weight); 
}
.logo:hover {
    color: var(--acento-claro);
}

/* * Estilização dos links de navegação*/
nav a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;
    transition: color 0.3s ease;
    font-weight: var(--corpo-weight);
}
nav a:hover {
    color: var(--acento-claro);
}


/* =================== RODAPÉ (FOOTER) =================== */

footer {
    background-color: var(--fundo-primario);
    color: var(--cor-texto);
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--acento-claro);
}

.container-footer-main {
    width: 80%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-footer-main h4 {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
} 

.footer-column p{
    padding-bottom: .5rem;
}

.footer-column ul{
    list-style: none;
}


.footer-column li{
    margin-bottom: .5rem;
    font-weight: var(--H2-weight);

}

.footer-column a{
    list-style: none;
    text-decoration: none;
    color: var(--cor-texto);
}

.footer-sub{
    background-color: #090810;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    font-size: 0.875rem;
}